Refresh Tokens

As part of token generation, it could be useful to allow the creation of a `refresh_token` ([RFC 6749 §1.5](https://www.rfc-editor.org/rfc/rfc6749#section-1.5)) instead of the default long-lived access tokens.

Apologies if this is already an included capability; I wasn't able to make the determination in the documentation. If the recommended behavior is to manually create a second token to use as a refresh token, it could be helpful to include documentation specifying that.